
    <header>
        <h1>Borrar paciente</h1>
    </header>
    
    <div class="topnav">
        <a href="<%= patientPath(patient.id) %>" id= "r">Volver</a>
    </div>
    
<div class="card">
<form method="post" action="<%= deletePatientPathDataBase(patient.id) %>" >

    <div>
    <p>Si realmente quiere borrar a <%= patient.name %>, aprete el boton Borrar</p>
    </div>
    <div class="card2">
    <input type="submit" value="Borrar" />
    </div>
</form>
</div>

