<form method="post" action="<%= deletePatientPathDataBase(patient.id) %>" >

    <div>
        <label >Si realmente quiere borrar a <%= patient.name %>, aprete el boton Borrar</label>
    </div>
    <div>
        <input type="submit" value="Borrar" />
    </div>
</form>