
<header>
        <h1>Pacientes</h1>
        <p> Aca en pacientes, podras ver todos los pacientes registrados.</p>
</header>
    


<div class="card">
    <h1>Agregar un Paciente </h1>
   <p> <a href="<%=newPatientPath %>">Agregar un paciente </a></p>
</div>

<% patients.forEach( patient => { %>
    <div class="card"> 
        <h2><%= patient.name %></h2>
        <p><%= patient.city %></p>
        <p><a href="<%= patientPath(patient.id) %>">Ver más</a></p>
    </div>
<% }) %>



