<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

    <header>
        <h1>Nuevo Paciente</h1>
        <p> Aca podras agregar un paciente.</p>
    </header>

    <div class="topnav">
       
        <a href="<%= wantToConnectSessionPath %>" style="float:right">Volver</a>
    </div>

    <div class="card">
    <%- include('_form') %>
    </div>



</body>
</html>

