
<html>
    <head>
    <link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
    </head>
    
    <body>
    
     
    <div class="header">
        <h1>Dolores</h1>
        <p> Aca en dolores, podras ver todos los dolores disponibles.</p>
</div>
    

<% pains.forEach( pain => { %>
    <div class="caja2"> 
        <h2><%= pain.name %></h2>
        <p><a href="<%= painPath(pain.id, dentist.id) %>">Ver más</a> </p>
    </div>
<% }) %>

<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
</body>
</html>


