
     
    <header>
        <h1>Dolores</h1>
        <p> Aca en dolores, podras ver todos los dolores disponibles.</p>
    </header>
    <div class="topnav">
        <a href="<%= dentistPath(dentist.id) %>" style="float:right">Volver</a> 
    </div>
    
<div class="card">
    <h1>Dolores disponibles</h1>
<% painsToSend.forEach( pain => { %>
    <div class="card2"> 
        <h2><%= pain.name %></h2>
        <div class="button">
            <a href="<%= painPath(pain.id, dentist.id) %>">Ver más</a>
        </div>
    </div>
<% }) %>
</div>

