<header>
    <h1>DentList</h1>
    <p> Respuesta:</p>
</header>

<div class="topnav">
  <a href= <%=home_path%> > Inicio </a>

  <a id="r" <%= link_to "Volver", :back %>>  </a>
</div>

<div class="card">
    <h2>BODY</h2>
    <h5><%= @body %></h5>
</div>



