<form method="post" action="<%= createChatPath %>">
    <div class="field">
        <label for="idDentist">id odontologo</label>
        <input type="text" name="idDentist" />
    </div>
    <div class="field">
        <label for="idPacient">id paciente</label>
        <input type="text" name="idPacient" />
    </div>
    <div class="actions">
        <input type="submit" value="crear contacto" />
    </div>

</form>