
    <header>
        <h1>Borrar conexion</h1>
    </header>
    
    
<div class="card">

<form method="post" action="<%= deleteChatPathDataBase(chat.id) %>">
    <div>
        <p>Para borrar la conexion, aprete el siguiente boton:</p>

        <div class="card2">
        <input type="submit" value="Eliminar conexión" />
        </div>
    </div>
</form>

</div>

