

    <header>
        <h1>Chats</h1>
    </header>
    <div class="topnav">   
        <a href="<%= patientPath(idpatient) %>" id="r">Volver</a>
        <a href="<%= patientPath(idpatient) %>" >Inicio</a> 
    </div>
    <% chatsPersonToSend.forEach( element => { %>
    <div class="card">
        <h2> Odontologo <%= element.person.name %></h2>
        <% if (element.chat.block) { %>
        <p>conexión no disponible</p>
        <% } else {%>
        <p>conexión disponible</p>
        <% } %>
        <a href="<%= updateChatPath(element.chat.id) %>"> Modificar conexión </a>
    </div>
    <% }) %>
