
    <header>
        <h1>Nuevo chat</h1>
    </header>
    <div class="topnav">
        <a href="#" style="float:right">No sirve</a>
    </div>
    

<div class="card">
<%- include('_form') %>
</div>

