<h1> Modificaci贸n de conexi贸n con usuario:</h1>

<form method="post" action="<%= updateChatPathDataBase(chat.id) %>">

    <div>
        <label for="block">Conexi贸n</label>
        <input type="text" name="block" />
    </div>
    <div>
        <input type="submit" value="Modificar conexi贸n" />
    </div>
</form>