
    <header>
        <h1>Borrar dentista</h1>
    </header>

<div class="topnav">
    <a href="<%= dentistPath(dentist.id) %>" id="r"> Volver</a>
    <a href="<%= dentistPath(dentist.id) %>"> Inicio</a> 
</div>
        
    
<div class="card">
<form method="post" action="<%= deleteDentistPathDataBase(dentist.id) %>" >

    <div>
        <p>Si realmente quiere borrar a <%= dentist.name %>, aprete el boton Borrar</p>
    </div>
    <div class="card2">
        <p><input type="submit" value="Borrar" /> </p>
    </div>
</form>
</div>

