
    
     
    <div class="header">
        <h1>Dentistas</h1>
    </div>
    
<div class="card">
    <h1>Agregar un Dentista </h1>
   <p> <a href="<%= newDentistPath %>" >Agregar dentista!</a></p>
</div>



<% dentists.forEach( dentist => { %>
    <div class="card"> <div>
        <h2><%= dentist.name %></h2>
        <p><%= dentist.city %></p>
        <p><a href="<%= dentistPath(dentist.id) %>">Ver más</a> </p>
    </div>
<% }) %>
