
        <header>
            <h1>Borrar post</h1>
        </header>

        <div class="topnav">

            <a href="<%= postPath(post.id) %>" id= "r">Volver</a>
        </div>
        
        
    
<div class="card">
<form method="post" action="<%= deletePostPathDataBase(post.id) %>" >

    <div class="card2">
    <label >Para borrar el post <%= post.title %>, aprete el boton Borrar</label>
    </div>
    <div>
    <input type="submit" value="Borrar" /></p>
    </div>
</form>
</div>

