<html>
<head>
<link rel="stylesheet" href="src/assets/styles/plantilla1.scss">
</head>

<body>

    <div class="header">
        <h1>Nuevo Post</h1>
        <p> Aca podras agregar un post.</p>
    </div>

<div class="caja2">
<%- include('_form')%>
</div>


<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
</body>
</html>


