<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

    <header>
        <h1>Nuevo Post</h1>
        <p> Aca podras agregar un post.</p>
    </header>

<div class="card">
<%- include('_form')%>
</div>



</body>
</html>


