* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #dae1e7;
}

/* Header/Blog Title */
header {
  padding: 30px;
  text-align: center;
  background: #0278AE;
  color: white;
}

header h1 {
  font-size: 50px;
}
table {
    margin: auto;
   
}
tbody {
  margin: center;
}
td {
    padding-bottom: 4%;
}

/* #no_button {

} */

/* Button boton */
.button {
  overflow: hidden;
  background-color: #51adcf;
  margin-bottom: 2%;
  margin-left: 30%;
  margin-right: 30%;
  cursor: pointer;
  /* width: 100%; */

}


.button a {
  /* float: ; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.button a:hover {
  background-color: #ddd;
  color: black;
}

.buttonmodify {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background:#51adcf;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.buttonmodify a {
  /* float: ; */
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.buttonmodify a:hover {
  background-color: #ddd;
  color: black;
}

.buttonmodifyr {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: #51adcf;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.buttonmodifyr a {
  /* float: ; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.buttonmodifyr a:hover {
  background-color: #ddd;
  color: black;
}
/* TOP NAV*/

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #51adcf;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav #r {
  float:right;
}

.noHover{
  pointer-events: none;
}

.topbutton {
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
}


/* COLUMNAS */
.row {
  display: flex; /* equal height of the children */
}

.column {
  flex: 1; 
  padding: 10px;
}
.columnx {
  flex: 1; 
  float: left;
  width: 50%;
  padding: 10px;
}
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
 /*  background-color: #f1f1f1; */
  padding-left: 20px;
}

img {
  width: 100%;
}

.profile {
  max-width: 50%;
  border-radius: 10px;
}

.profile-chat {
  max-width: 20%;
  border-radius: 10px;
}
/* Fake image */
.fakeimg {
  background-color: #51adcf;
  width: 100%;
  padding: 20px;
}

.fakeimg2 {
  width: 90%;
  padding: 20px;
}
.card2 {
  background-color: #dae1e7;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.card3 {
  background-color: #dae1e7;
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 100%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.card4 {
  background-color: white;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* NAVBAR ON TOP */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* SPINNER RODO*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 6px;
  border: 6px solid #ff2058;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff2058 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



#logo {
  width: 40%;
  padding: 20px;
}



.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 1000px;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 10px 10px 10px;
  position: absolute;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  position: static;
  background: linear-gradient(
    90deg,
    #1186c9 0%,
    rgb(27, 165, 196) 100%
  );
}

.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.form h1 {
  font-size: 2rem;
  text-align: start;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #b10e0e;
  position: relative;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: 10px;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
.errortype p {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #870f0f;
}

.card2 {
  background-color: #dae1e7;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.formmessage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.formmessage-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.textarea {
  width: 500px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.select {
  width: 500px;
  padding: 16px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}
.textarearesume {
  width: 500px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.header-message {
  grid-area: header;
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

/* The grid container */
.grid-container-message  {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left left right right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left-message ,
.right-message  {
  padding: 10px;
 /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left-message  {
  grid-area: left;
  background-color: #51adcf;
  text-align: center;
}

.left-message h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

/* Style the right column */
.right-message  {
  grid-area: right;
  background-color: #51adcf;
  text-align: center;
}

.right-message h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.message  {
  grid-area: left;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

/* Style the footer */
.footer-message  {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style profile */


.header-profile {
  grid-area: header;
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

/* The grid container */
.grid-container-profile {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left left left right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left-profile  ,
.right-profile   {
  padding: 10px;
 /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left-profile   {
  grid-area: left;
  background-color: #ffffff;
  text-align: center;
}

.left-profile h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #0a4e67;
}

.left-profile h3 {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

/* Style the right column */
.right-profile  {
  grid-area: right;
  background-color: #0278AE;
  text-align: center;
}

.right-profile h3 {
  font-size: 1rem;
  grid-area: right;
  text-align: center;
  color: #fff;
  margin-bottom: 0.1rem;
}

.right-profile  h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.message  {
  grid-area: left;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

/* Style the footer */
.footer-profile {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.button-profile {
  overflow: hidden;
  background-color: #51adcf;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
  /* width: 100%; */

}


.button-profile a {
  /* float: ; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.button-profile a:hover {
  background-color: #ddd;
  color: black;
}
.card-profile {
  background-color: #0278AE;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.card-profile p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #e1e1e1;
  position: relative;
}

.profile-img {
  background-color: #51adcf;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  align-items: stretch;
}

// INDEX

/* Style the header */
.header-index {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container-index {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left-index,
.middle-index,
.right-index {
  padding: 10px;
}

/* Style the left column */
.left-index {
  grid-area: left;
  background-color: #ffffff;
}

.left-index  h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #0278AE;
}
/* Style the middle column */
.middle-index {
  grid-area: middle;
  background-color: #0278AE;
}

.middle-index  h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

/* Style the right column */
.right-index {
  grid-area: right;
  background-color: #ffffff;
}

.right-index  h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: #0278AE;
}

/* Style the footer */
.footer-index {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.button-index {
  overflow: hidden;
  background-color: #51adcf;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  /* width: 100%; */
}

.button-index a {
  /* float: ; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.button-index a:hover {
  background-color: #ddd;
  color: black;
}
.input {
  background-color: #51adcf;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  /* width: 100%; */
}
.button-index-enter {
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  /* width: 100%; */
}