
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: url('https://images.assetsdelivery.com/compings_v2/nadiinko/nadiinko1806/nadiinko180600067.jpg');
}
/* ##################################################################################### */
/* HEADER */
/* ##################################################################################### */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  
}

.header h1 {
  font-size: 50px;
  text-align: center;
}

/* ##################################################################################### */
/* BARRA*/
/* ##################################################################################### */
.barra {
  overflow: hidden;
  background-color: rgb(9, 145, 179);
}

/* Style the topnav links */
.barra a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.barra a:hover {
  background-color: #ddd;
  color: rgb(13, 201, 214);
}

/* #################################################################################### */
/* CAJA*/
/* ##################################################################################### */
.caja {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.caja p {
  text-align: center;
}

.caja h1 {
  text-align: center;
}


.caja h2 {
  text-align: center;
}

.caja h5 {
  text-align: center;
}

/* #################################################################################### */
/* PIE*/
/* ##################################################################################### */
.pie {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
