
.single-star-outline {
  margin: 0;
  padding: 0;
  height: 36px; 
  width: 31px;
}

.single-star-fill {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 36px; 
  background-color:#51adcf;
}

.single-star-container {
  margin: 0;
  padding: 0;
  height: 36px; 
  width: 31px;
  display: inline-block;
}

