<form method="post" action="<%= createCarerequestPath %>">

    <div>
        <label for="datesmeeting">Fechas posibles</label>
        <input type="text" name="datesmeeting" />
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" />
    </div>
    <div>
        <label for="message">Mensaje</label>
        <input type="text" name="message" />

    </div>
    <div>
        <input type="submit" value="Enviar solicitud de atención" />
    </div>
</form>