
        <div class="header">
            <h1>Borrar solicitud de atención</h1>
        </div>
        
    
<div class="card">
<form method="post" action="<%= deleteCarerequestPathDataBase(carerequest.id) %>">

    <div>
        <label>¿Quieres eliminar la solicitud? <%= carerequest.id %></label>
    </div>
    <div>
        <input type="submit" value="Eliminar" />
    </div>
</form>
</div>

<div class="pie">
    <p>Made with &#10084;&#65039; by Rodolfo Mendoza Jorge Toro & Sebastian Villablanca.</p>
  </div>
