<form method="post" action="<%= deleteCarerequestPathDataBase(carerequest.id) %>">

    <div>
        <label>¿Quieres eliminar la solicitud? <%= carerequest.id %></label>
    </div>
    <div>
        <input type="submit" value="Eliminar" />
    </div>
</form>