
    
<header>
    <h1>Solicitudes de atención</h1>
    
</header>


<div class="caja2">
    <h1>Enviar una solicitud de atención </h1>
    <a href="<%= newCarerequestPath %>">Enviar solicitudes</a>
</div>



<% carerequest.forEach( carerequest => { %>
    <div class="caja2"> 
    <h2><%= carerequest.idDentist %></h2>
    <p><%= carerequest.idInjury %></p>
    <a href="<%= carerequestPath(carerequest.id) %>">Ver solicitud</a>
</div>
<% }) %>


