<h1>Página principal</h1>
<p> <a href="<%= patientsPath %>"> Ver los Pacientes</a> </p>
<p> <a href="<%= dentistsPath %>"> Ver los Dentistas </a> </p>
<div id="react-app">Here a React app will be rendered</div>
