<form method="post" action="<%= createMessagePath %>">
    <div>
        <label for="idSend">Enviado por:</label>
        <input type="text" name="idSend" />
    </div>
    <div>
        <label for="idReceive">Destinatario:</label>
        <input type="text" name="idReceive" />
    </div>
    <div>
        <label for="body">Mensaje:</label>
        <input type="text" name="body" />
    </div>
    <div>
        <input type="submit" value="Enviar" />
    </div>
</form>