
        <header>
            <h1>Borrar mensaje</h1>
        </header>
        
    
<div class="card">
<form method="post" action="<%= deleteMessagePathDataBase(message.id) %>">

    <div>
    <p>¿Quieres borrar el siguiente mensaje? <%= message.body %></p>
    </div>

    <div class="card2">
        <p><input type="submit" value="Borrar" /></p>
    </div>
</form>
</div>



