
    
<header>
    <h1> Mensaje </h1>
    <h3> Fecha: <%= message.date %> </h3>
        
</header>


<div class="card">
<p>Enviado por: <%= message.idSend %> </p>
<p>mensaje: <%= message.body %> </p>
</div>

<!--
<div class="card">
    <div class="button">

   <a href="<%= deleteMessagePath(message.id) %>"> Borrar mensaje </a>
</div> -->

