Formulario

<form method="post" action="<%= createFeedbackPath %>"> 
    <div class="field" >
        <label for="id_odontologo">Id Odontologo </label>
        <input type="int" name="id_odontologo"/>
    </div>
    <div class="field" >
        <label for="id_user">Id Usuario </label>
        <input type="int" name="id_user"/>
    </div>
    <div class="field" >
        <label for="description">Descripción </label>
        <textarea rows="4" cols="30" name="description"></textarea>
    </div>
    <div class="field" >
        <label for="calification">Calificación (1 a 5)</label>
        <input type="int" name="calification"/>
    </div>
    <div class="actions" >
        <input type="submit" value="Crear"/>
    </div>


</form>