<form method="post" action="<%= createFeedbackPath(date.id) %>">
    <% if (locals.errors){ %>

        <div class="errors">

            <p>El feedback no se pudo crear devido a los siguientes errores:</p>

            <ul>
                <% let weDidTheAdvertisment = false %>
                <% errors.forEach(error => { %>

                    <% if (error.path == "calification" && !weDidTheAdvertisment) { %>
                        <li>Las calificaciones solamente pueden ir del 0 al 5(ambos incluidos)</li>
                        <li>Es necesario que le pongas la calificación. La desripción es opcional.</li>
                        <% weDidTheAdvertisment = true %>
                    <% }%>

                <% }); %>
            </ul>
        </div>
    <% } %>

    <div class="field" >
        <label for="description">Descripción de la Atención del Dentista</label>
        <textarea rows="4" cols="30" name="description" id="description"> <%= feedback.description%></textarea>
    </div>
    <div class="field" >
        <label for="calification">Calificación (0 a 5)</label>
        <input type="int" name="calification" id="calification" value="<%= feedback.calification %>"/>
    </div>
    <div class="actions" >
        <input type="submit" value="Crear"/>
    </div>


</form>