
<form method="post" action="<%= deleteFeedbackPathDataBase(feedback.id) %>" >

    <div>
        <label >Para borrar el feedback de id: <%= feedback.id %>, aprete el boton Borrar</label>
    </div>
    <div>
        <input type="submit" value="Borrar" />
    </div>
</form>