
        <header>
            <h1>Borrar feedback</h1>
        </header>
        
    
<div class="card">
<form method="post" action="<%= deleteFeedbackPathDataBase(feedback.id) %>" >

    <div>
        <p><label >Para borrar el feedback de id: <%= feedback.id %>, aprete el boton Borrar</label></p>
    </div>
    <div>
        <p><input type="submit" value="Borrar" /></p>
    </div>
</form>
</div>


