<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

    <header>
        <h1>Nuevo Feedback</h1>
    </header>


<div class="card">
<%- include('_form')%>
</div>



</body>
</html>




