<html>
<head>
<link rel="stylesheet" href="src/assets/styles/index.scss">
</head>

<body>

    <header>
        <h1>Nuevo Feedback</h1>
    </header>

<% if (feedbackAlreadyCreated === true) { %>
    <p>Ya le diste un Feedback a esta cita</p>
<% } else {%>

    <div class="card">
        <%- include('_form')%>
    </div>

<% } %>


</body>
</html>




