<h1> Feedback</h1>
<p>Id odontologo: <%= feedback.id_odontologo %></p>
<p>Id_user: <%= feedback.id_user %></p>
<p>Descripcion: <%= feedback.description %></p>
<p>Calificacion: <%= feedback.calification %></p>