
<header>
        
</header>

<% if (feedbackFound === false) {%>
    <p>El paciente aún no escribe un Feedback</p>
<% } else {%>

    <div class="card">

        <p>Descripcion del Paciente sobre tu Atención: <%= feedback.description %></p>
        <p>Calificacion (0 al 5): <%= feedback.calification %></p>
        
    </div>

<% } %>


