
<form method="post" action="<%= deleteNotificationPathDataBase(notification.id) %>" >

    <div>
        <label >Para borrar la notificación de id: <%= notification.id %>, aprete el boton Borrar</label>
    </div>
    <div>
        <input type="submit" value="Borrar" />
    </div>
</form>