
        <header>
            <h1>Borrar la notificación</h1>
        </header>
        
<div class="card">    
<form method="post" action="<%= deleteNotificationPathDataBase(notification.id) %>" >

    <div>
    <p><label >Para borrar la notificación de id: <%= notification.id %>, aprete el boton Borrar</label></p>
    </div>
    <div>
        <p><input type="submit" value="Borrar" /></p>
    </div>
</form>
</div>


